<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.memo.collect">
    
    <application>
        <activity
            android:name=".launcher.MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.collect.CollectActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>